@font-face {
    src: url('garet/garet/Garet_Book.ttf');
}

@font-face {
    src: url('chaos_in_wisconsin/chaos_in_wisconsin/Chaos_in_Wisconsin.ttf');
}

.root {
    -fx-background-color: linear-gradient(#82007A, black);
    -fx-font-size: 12pt;
    -fx-font-family: "Garet Book";
}

.mainMenuLabel {
    -fx-font-size: 140pt;
    -fx-font-family: "Chaos in Wisconsin";
    -fx-text-fill: white;
}

.mainMenuButton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 23;
    -fx-border-radius: 23;
    -fx-font-size: 24pt;
    -fx-padding: 2 20 2 20;
    -fx-min-height: 50;
    -fx-min-width: 320;
    -fx-max-height: 50;
    -fx-max-width: 320;
}

.mainMenuButton:hover {
    -fx-background-color: linear-gradient(#FFFFFF, #B0B0B0);
    -fx-cursor: hand;
}

.mainMenuButton:pressed {
    -fx-background-color: linear-gradient(#B0B0B0, #909090);
}
.gameButton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 23;
    -fx-border-radius: 23;
    -fx-font-size: 12pt;
    -fx-padding: 2 20 2 20;
    -fx-min-height: 30;
    -fx-max-height: 30;
}

.gameButton:hover {
    -fx-background-color: linear-gradient(#FFFFFF, #B0B0B0);
    -fx-cursor: hand;
}

.gameButton:pressed {
    -fx-background-color: linear-gradient(#B0B0B0, #909090);
}